html,
body,
* {
    box-sizing: border-box;
}

body {
    background: #461571;
    background: linear-gradient(18deg, rgba(70, 21, 113, 1) 0%, rgba(21, 8, 62, 1) 100%);
}

img {
    width: 100%;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.5s ease-out;
}

.reveal.on {
    opacity: 1 !important;
    transform: translateY(0) scale(1) !important;
}

.click-point {}

.click-point:before {
    position: absolute;
    width: 48px;
    height: 48px;
    background: #ff0000;
    border-radius: 50%;
    content: '';
    opacity: 0;
    visibility: hidden;
    animation: circle 1s ease infinite alternate; 
    z-index: 1;
    pointer-events: none;
    transition: opacity .5s ease;
}

.click-point.show:before {
    /* display: block; */
    opacity: .5;
    visibility: visible;
    transition-delay: .8s;
}

@keyframes circle {
    0% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

.splash {
    position: relative;
    width: 100%;
    height: 100dvh;
    max-width: 780px;
    margin: 0 auto;
}
.splash::before {
    top: 53%;
    left: 50%;
}

.splash img {
    height: 100%;
    object-fit: cover;
}

.step {
    position: relative;
    flex-direction: column;
    width: 100%;
    max-width: 780px;
    min-height: 100dvh;
    margin: 0 auto;
    padding: 60px 18px 20px;
    display: none;
    overflow: hidden;
}

.step.on {
    display: flex;
}

.step .heading-txt {
    color: #fff;
}

.step .heading-txt h2 {
    font-size: 26px;
    font-weight: bold;
    line-height: 140%;
}

.step .heading-txt p {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 500;
    opacity: .7;
}

.step .main-cont {
    margin: 50px 0;
    padding: 0 32px;
    text-align: center;
}

.step .main-cont img {
    transition-delay: 0.2s;
}

.step .bottom {
    margin-top: auto;
}

.step .bottom .progress {
    transition-delay: 0.4s;
}

.step .bottom .btn-wrap {
    position: relative;
    margin-top: 20px;
    transition-delay: 0.6s;
}

.step .bottom .btn-wrap::before {
    top: 3%;
    right: 30%;
    /* transition-delay: 0.9s; */
}

.nextBtn {
    cursor: pointer;
}


/* step 1 */
.step-1 {}

.step-1 .heading-txt {
    text-align: center;
}


/* step 2 */
.step-2 {
    padding: 60px 18px 0;
}

.step-2 .heading-txt {
    text-align: center;
}

.step-2 .layer {
    position: relative;
    margin-top: auto;
    margin-left: -18px;
    margin-right: -18px;
}

.step-2 .layer::before {
    right: 30%;
    bottom: 5%;
}

.step-2 .layer img {
    transform: translateY(90%);
    transition: 0.5s ease-in-out;
}

.step-2 .layer img.on {
    transform: translateY(0);
}


/* step 3 */
.step-3 {}

.step-3 .heading-txt {
    text-align: center;
}


/* step 4 */
.step-4 {}

.step-4 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.step-4 .bg img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transform: translateY(0);
    transition-delay: 0.6s;
}

.step-4 .heading-txt {
    text-align: center;
}

.step-4 .main-cont {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 58%;
    padding: 0;
    margin: 0;
}

.step-4 .main-cont::before {
    top: 10%;
    right: 10%;
}

.step-4 .main-cont img {
    transform: translateY(40px) scale(0.5);
}

.step-4 .main-cont .start {
    position: absolute;
    width: 32%;
    transform: none;
    transform: translateY(40px) scale(0.5);
    transition-delay: 0.4s;
    transform-origin: top center;
}

.step-4 .main-cont .start1 {
    left: 100%;
    bottom: 90%;
}

.step-4 .main-cont .start2 {
    right: 100%;
    top: 90%;
}

.step-4 .nextBtn {
    display: none;
}


/* step 5 */
.step-5 {}

.step-5 .heading-txt {
    text-align: center;
}

.step-5 .heading-txt p.reveal.on {
    opacity: 0.7 !important;
}

.step-5 .main-cont {
    margin-top: 80px;
}

/* step 6, 7, 8 */
.step-6 .heading-txt,
.step-7 .heading-txt,
.step-8 .heading-txt {
    padding: 0 8px;
}

.step-6 .heading-txt p.reveal.on,
.step-7 .heading-txt p.reveal.on,
.step-8 .heading-txt p.reveal.on {
    opacity: 0.7 !important;
}

.step-6 .main-cont,
.step-7 .main-cont,
.step-8 .main-cont {
    position: relative;
    display: flex;
    flex-flow: column;
    gap: 12px;
    padding: 0;
}

.step-6 .main-cont::before,
.step-7 .main-cont::before,
.step-8 .main-cont::before {
    bottom: 5%;
    right: 30%;
}

.step-6 .main-cont img:nth-of-type(1),
.step-7 .main-cont img:nth-of-type(2),
.step-8 .main-cont img:nth-of-type(3) {
    transition-delay: 0.2s;
}

.step-6 .main-cont img:nth-of-type(2),
.step-7 .main-cont img:nth-of-type(2),
.step-8 .main-cont img:nth-of-type(2) {
    transition-delay: 0.25s;
}

.step-6 .main-cont img:nth-of-type(3),
.step-7 .main-cont img:nth-of-type(3),
.step-8 .main-cont img:nth-of-type(3) {
    transition-delay: 0.3s;
}

.step-6 .main-cont img:nth-of-type(4),
.step-7 .main-cont img:nth-of-type(4),
.step-8 .main-cont img:nth-of-type(4) {
    transition-delay: 0.35s;
}

.step-6.active .main-cont img:nth-of-type(4),
.step-7.active .main-cont img:nth-of-type(4),
.step-8.active .main-cont img:nth-of-type(4) {
    display: none;
}

.step-6:not(.active) .img-active,
.step-7:not(.active) .img-active,
.step-8:not(.active) .img-active {
    display: none;
}

.step-6.active img.img-active,
.step-7.active img.img-active,
.step-8.active img.img-active {
    display: block;
}

.step-6.active .bottom .btn-wrap::before,
.step-7.active .bottom .btn-wrap::before,
.step-8.active .bottom .btn-wrap::before {
    transition-delay: 0s;
}

/* step 9 */
.step-9 {
    background: #D6DFFE;
    padding: 0;
}

.step-9 .result1 {
    display: flex;
    flex-direction: column;
    padding: 20px 18px 102px;
}

.step-9 .result1 img {
    display: block;
}

.step-9 .result1 .img-group {
    position: relative;
    margin: 10px 0 23px;
}

.step-9 .result1 .result1-2 {
    width: 78.5%;
    margin: 0 auto;
    transition-delay: 0.2s;
}

.step-9 .result1 .result1-3 {
    position: absolute;
    top: 18%;
    left: 45%;
    transform: translateX(-50%) translateY(40px);
    width: 58.5%;
    transition-delay: 0.25s;
}

.step-9 .result1 .result1-3.reveal.on {
    transform: translateX(-50%) translateY(0) !important;
}

.step-9 .result1 .result1-4 {
    position: absolute;
    top: 18%;
    right: 4.3%;
    width: 42.5%;
    transition-delay: 0.3s;
}

.step-9 .result1 .result1-5 {
    transition-delay: 0.35s;
}

.step-9 .result1 .result1-6 {
    margin: 20px 0 10px;
    transition-delay: 0.4s;
}

.step-9 .result1 .test-btn {
    transition-delay: 0.45s;
}

.step-9 .result2 {
    background: #461571;
    background: linear-gradient(18deg, rgba(70, 21, 113, 1) 0%, rgba(21, 8, 62, 1) 100%);
    width: 100%;
    min-height: 100vh;
    padding: 48px 18px 120px 18px;
}

.step-9 .result2 .result1-7 {
    margin-bottom: 70px;
}

.step-9 .result2 .result1-8 {
    margin-bottom: 24px;
}

.step-9 .result2 .img-group {
    display: flex;
    flex-flow: column;
    gap: 12px;
}

.step-9 .bottom {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 100%;
    max-width: 780px;
}

.step-9 .bottom .click-point::before {
    top: 5%;
    right: 30%;
}

.step-9 .close-area {
    display: none;
    /* display: flex;
    width: 100%;
    height: 24px;
    justify-content: flex-end;
    padding: 0 18px;
    margin: 20px 0 10px; */
}

.step-9 .close-area img {
    width: auto;
    height: 100%;
    cursor: pointer;
}