html,body,* {box-sizing: border-box;}
.step {background: #461571;
background: linear-gradient(18deg, rgba(70, 21, 113, 1) 0%, rgba(21, 8, 62, 1) 100%);width:100%;min-height: 100vh; max-width: 720px; width: 100%; margin:0 auto; display: none;overflow: hidden;}
.step img {width: 100%;object-fit: contain;}
.nextBtn {cursor: pointer;}

.step-1 {padding:20px 18px;display: flex;flex-direction: column;}
.step-1 .heading-txt {text-align: center; color:#fff;}
.step-1 .heading-txt h2 {font-size: 26px;font-weight: bold;line-height: 140%;}
.step-1 .heading-txt p {margin-top:12px;font-size: 18px;font-weight: 500;opacity: .7;}
.step-1 .main-cont {margin-top: 35px;padding:0 32px;text-align: center;}
.step-1 .main-cont img {max-width: 290px;width: 100;}
.step-1 .bottom {margin-top: auto;}
.step-1 .bottom .progress img {width:100%;}
.step-1 .bottom .btn-wrap {margin-top:20px;}
.step-1 .bottom .btn-wrap img {height: 87px;}

.step-2 {display: flex;flex-direction: column;}
.step-2 .heading-txt {text-align: left; color:#fff;padding:20px 18px;}
.step-2 .heading-txt h2 {font-size: 26px;font-weight: bold;line-height: 140%;}
.step-2 .heading-txt p {margin-top:12px;font-size: 18px;font-weight: 500;opacity: .7;}
.step-2 .layer {margin-top:auto;position:relative;}
.step-2 .layer img {transform: translateY(90%); transition:1s ease-in-out;}
.step-2 .layer img.on {transform: translateY(0);transition:1s ease-in-out}

.step-3 {padding:20px 18px;display: flex;flex-direction: column;}
.step-3 .heading-txt {text-align: center; color:#fff;}
.step-3 .heading-txt h2 {font-size: 26px;font-weight: bold;line-height: 140%;}
.step-3 .heading-txt p {margin-top:12px;font-size: 18px;font-weight: 500;opacity: .7;}
.step-3 .main-cont {margin-top: 35px;padding:0 32px;text-align: center;}
.step-3 .main-cont img {max-width: 290px;width: 100;}
.step-3 .bottom {margin-top: auto;}
.step-3 .bottom .progress img {width:100%;}
.step-3 .bottom .btn-wrap {margin-top:20px;}
.step-3 .bottom .btn-wrap img {height: 87px;}

.step-4 {padding:20px 18px;display: flex;flex-direction: column;}
.step-4 .heading-txt {text-align: left; color:#fff;padding:20px 18px;}
.step-4 .heading-txt h2 {font-size: 26px;font-weight: bold;line-height: 140%;}
.step-4 .heading-txt p {margin-top:12px;font-size: 18px;font-weight: 500;opacity: .7;}
.step-4 .bottom {margin-top: auto;}
.step-4 .bottom .progress img {width:100%;}
.step-4 .bottom .btn-wrap {margin-top:20px;}
.step-4 .bottom .btn-wrap img {height: 87px;}

.step-5 {background: #D6DFFE;}
.step-5 .result1 {display: flex;flex-direction: column;padding:20px 18px;}
.step-5 .result1 img {display: block;}
.step-5 .result1 img:nth-child(2) {margin: 20px 0;}
.step-5 .result1 img:nth-child(3) {margin-top: 16px;}

.step-5 .result1 .bottom {margin-top: auto;}
.step-5 .result1 .bottom img:nth-child(1) {max-height: 70px;cursor: pointer;}
.step-5 .result1 .bottom img:nth-child(2) {height: 18px;cursor: pointer;}
.step-5 .result2 {background: #461571;
background: linear-gradient(18deg, rgba(70, 21, 113, 1) 0%, rgba(21, 8, 62, 1) 100%);width:100%;min-height: 100vh;padding:48px 18px 20px 18px;}
.step-5 .result2 img {display: block;}
.step-5 .result2 img:last-child {margin-top: 70px;}

.step {display: none;}
.step.on {display: flex;flex-direction: column;}
