@charset "URF-8";

body{
    font-family: "Pretendard", sans-serif;
    background: linear-gradient(0deg, #1E1732, #1E1732),linear-gradient(180deg, #15083E 0%, #2E0F58 75%, #461571 100%);
}

body.bg2 {
    background: linear-gradient(188deg, rgba(70, 21, 113, 1) 0%, rgba(21, 8, 62, 1) 100%);
}

img {
    width:100%;
    vertical-align: top;
}

.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.8s ease-out;
}

.reveal.on {
    opacity: 1;
    transform: translateY(0);
}

.h-bnr{
    position: fixed;
    right: 18px;
    bottom: 24.5vw;
    left: 18px;
    transition: opacity 0.5s ease;
    background: linear-gradient(0deg, #290E53, #290E53), linear-gradient(90deg, rgba(255, 137, 68, 0.25) 0%, rgba(117, 182, 255, 0.25) 100%);
}

.h-bnr.hidden {
    opacity: 0 !important;
    pointer-events: none;
}

#wrap {
    overflow: hidden;
}

.gnb-m{
    position: fixed;
    bottom: 0;
    left: 50%;
    width: 100%;
    max-width: 780px;
    transform: translateX(-50%);
    z-index: 1;
}

main {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 28px 18px 128px;
    text-align: center;
    box-sizing: border-box;
}

main a {
    display: block;
    margin-bottom: 16px;
}

.info {
    padding: 0 6px;
}

.main-box {
    position: relative;
    margin-top: 26px;
    padding-top: 166%;
    transition: all 0.5s ease;
}

.close-btn{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
    opacity: 0.2;
}

.close-btn.on{
    opacity: 1;
}

.close-btn.hide {
    opacity: 0.5;
    transform: translateY(400px);
    pointer-events: none;
    z-index: -1;
}

/* 탭 */
.tab-container {
    position: relative;
}

.tab-container [role="tablist"] {
    display: flex;
    gap: 18px;
}

.tab-container [role="tablist"] [role=tab] {
    font-size: 25px;
    font-weight: 500;
    color: rgba(255, 255, 255, 0.5);
}

.tab-container [role=tab][aria-selected=true] {
    font-weight: 700;
    color: #fff;
}

.tab-container .utils {
    position: absolute;
    top: 4px;
    right: 0;
    display: flex;
    gap: 20px;
}

.tab-container .utils span {
    display: block;
    width: 24px;
    height: 24px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

.tab-container .utils span:nth-of-type(1) {
    background: url("/assets/image/main1/icon_bell.png") 50% 50%/cover no-repeat;
}

.tab-container .utils span:nth-of-type(2) {
    background: url("/assets/image/main1/icon_search.png") 50% 50%/cover no-repeat;
}
 
.tab-container [role="tabpanel"] {
    padding-top: 32px;
}

/* 서브 탭 */
#sub-tabs {
    margin-bottom: 30px;
}

#sub-tabs [role="tablist"] {
    display: flex;
    gap: 2px;
}

#sub-tabs [role="tablist"] li:nth-of-type(1) [role=tab] img.active,
#sub-tabs [role="tablist"] li:nth-of-type(2) [role=tab] img.active,
#sub-tabs [role="tablist"] li:nth-of-type(3) [role=tab] img.active {
    display: none;
}

#sub-tabs [role="tablist"] li:nth-of-type(1) [role=tab][aria-selected=true] img,
#sub-tabs [role="tablist"] li:nth-of-type(2) [role=tab][aria-selected=true] img,
#sub-tabs [role="tablist"] li:nth-of-type(3) [role=tab][aria-selected=true] img {
    display: none;
}

#sub-tabs [role="tablist"] li:nth-of-type(1) [role=tab][aria-selected=true] img.active,
#sub-tabs [role="tablist"] li:nth-of-type(2) [role=tab][aria-selected=true] img.active,
#sub-tabs [role="tablist"] li:nth-of-type(3) [role=tab][aria-selected=true] img.active {
    display: block;
}

/* 엘밤 */
.album-container {
    margin-top: 44px;
}

/* 기록 */
.history-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-bottom: 140px;
}

/* 옆집 */
.neighbor-house-container h2 {font-size: 28px;margin-bottom: 18px;color:#fff;text-align: left;}

.neighbor-house-container .visual {margin:34px 0 18px;display: flex;align-items: center;justify-content: flex-start;gap:12px}
.neighbor-house-container .visual img {width: 95%;}
.neighbor-house-container .highlight {margin-top: 80px;}
.neighbor-house-container .highlight .inner {display:flex;flex-direction: column;gap: 18px;}

.neighbor-house-container .hot {margin-top: 80px;}
.neighbor-house-container .hot .inner {display:flex;flex-direction: column;gap: 18px;}
.neighbor-house-container .more {padding:0 36px;margin-top: 24px;}
.neighbor-house-container .gnb {position:fixed;bottom:0;max-width: 720px;width:100%;left:50%;transform: translateX(-50%);}

.scroll-eff{
    opacity: 0.5;
    transform: translateY(30px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.scroll-eff.show{
    opacity: 1;
    transform: translateY(0);
}

.down-btn{
    display: block;
    width: 42px;
    height: 42px;
    margin: 33px auto 0;
}

.open-pop{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    opacity: 0;
    z-index: -1;
    transition: opacity 0.3s ease;
}

.open-pop.fade-in{
    opacity: 1;
    z-index: 1;
}

.open-pop img{
    width: calc(100% - 80px);
    margin: 0 auto;
}
.open-pop button{
    width: 100%;
    height: 100%;
}

.box1{
    position: fixed;
    left:100%;
    top:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #15083E 0%, #461571 100%);
    z-index: 2;
    transition: left .3s;
    padding: 40px 0 30px;
    text-align: center;
    overflow-y: auto;
}

.box1.on{
    display: block;
    left:0;
}

.box1-top{
    width: 50%;
    max-width:187px;
    margin: 0 auto 30px;
}

.box1-close{
    position: absolute;
    top: 30px;
    right: 24px;
    width: 24px;
}

.box1-in{
    margin: 0 auto 16px;
    width: calc(100% - 36px);
    opacity:0;
    transform: translateY(50px);
    transition: all .2s;
    position: relative;
    text-align: center;
}

.box1-in.on{
    opacity: 1;
    transform: translateY(0);
}

.box1-in button{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 46px;
    color: #fff;
    width: calc(100% - 48px);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)), linear-gradient(90deg, rgba(152, 146, 209, 0.5) 0%, rgba(17, 186, 171, 0.5) 100%);
    backdrop-filter: blur(22.742473602294922px);
    border-radius: 43px;
    height: 54px;
    line-height: 54px;
    outline: none;
    max-width: 370px;
}

.box1-in button img{
    width: 46px;
    position: absolute;
    left: 4px;
    top: 4px;
    transition: left .3s;
}

.box1-in button.on{
    color: transparent;
}

.box1-in button.on img{
    left: calc(100% - 50px);
}

.box1-bottom{
    width: 178px;
}

.box1-pop1{
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(4px);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.box1-pop1 img{
    transform: translateY(100%);
    transition: transform .4s ease;
}

.box1-pop1.on{
    opacity: 1;
    z-index: 0;
    visibility: visible;
}

.box1-pop1.on img{
    transform: translateY(0);
    max-width: 100%;
}

.box1-pop2{
    background-color: #000;
    padding-top: 28px;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: none;
}

.box1-pop2 img{
    max-width: 100%;
}

.box1-pop2.on{
    display: block;
}

.box1-pop3{
    position: fixed;
    bottom: 0;
    left:0;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgba(0,0,0,.4);
    backdrop-filter: blur(4px);
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.box1-pop3 img{
    transform: translateY(100%);
    transition: transform .4s ease;
}

.box1-pop3.on{
    opacity: 1;
    z-index: 0;
    visibility: visible;
}

.box1-pop3.on img{
    transform: translateY(0);
}

.box1-pop4{
    position: fixed;
    left: 100%;
    top:0;
    background: linear-gradient(180deg, #15083E 0%, #461571 100%);
    width: 100%;
    height: 100%;
    padding-top: 40px;
    transition: left .3s;
}

.box1-pop4>img:first-child{
    width: 38%;
}

.box1-pop4 p{
    width: calc(100% - 70px);
    height: 40%;
    margin: 10% auto 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1-pop4 p img{
    width: 30%;
    opacity: 0.5;
    transition: width .4s ease;
}

.box1-pop4 button{
    padding:0 24px;
}

.box1-pop4.on{
    left: 0;
}

.box1-pop4.on p img{
    opacity: 1;
    width: 100%;
}

.box1-pop5{
    position: fixed;
    left: 0;
    top:0;
    background: linear-gradient(180deg, #15083E 0%, #461571 100%);
    width: 100%;
    height: 100%;
    padding-top: 40px;
    display: none;
}

.box1-pop5.on{
    display: block;
}

.box2{
    position: fixed;
    top:-1px;
    left:0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: none;
}

.box2 img{
    max-width: 100%;
}

.box2.on{
    display: block;
}

.box3{
    position: fixed;
    top:-1px;
    left:0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    visibility: hidden;
}

.box3::after{
    content:'';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
}

.box3.on{
    z-index: 1;
    visibility: visible;
}

.box3 button:not(.box3-step1, .box3-step2){
    display: none;
    background: linear-gradient(180deg, #15083E 0%, #461571 100%);
    /* display: flex; */
    align-items: flex-start;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding-bottom: 30px;
    overflow-y: auto;
}

.box3 button:not(.box3-step1, .box3-step2) img{
    width: calc(100% - 36px);
    margin-top: 30px;
}

.box3-step1, .box3-step2{
    /* display: flex; */
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;
}

.box3-step1.on, .box3-step2.on {
    display: flex;
}

.box3-step1 img, .box3-step2 img{
    max-width: 100%;
    transform: translateY(100%);
    transition: transform .3s;
}

.box3-step1.on img, .box3-step2.on img{
    max-width: 100%;
    transform: translateY(0);
}

.box3.on button:not(.box3-step1, .box3-step2).on{
    display: flex;
}
.box3-step2{
    overflow-y: auto;
    justify-content: flex-start;
}