html,body,* {box-sizing: border-box;}
.wrap {position:relative;background: #461571;
background: linear-gradient(18deg, rgba(70, 21, 113, 1) 0%, rgba(21, 8, 62, 1) 100%);width:100%;overflow: hidden;}
.container {max-width: 390px;width:100%;margin:0 auto;padding-bottom: 70px;margin-bottom: 44px;}
img {display: block;width:100%;object-fit: contain;cursor: pointer;}
h2 {font-size: 28px;margin-bottom: 18px;color:#fff;}
.reveal {opacity: 0;transform: translateY(40px);transition: all 0.8s ease-out;}
.reveal.on {opacity: 1; transform: translateY(0);}


.tab {padding:0 18px}
.visual {padding:0 0 0 24px;margin:34px 0 18px;display: flex;align-items: center;justify-content: flex-start;gap:12px}
.visual img {width: 95%;}
.banner {padding:0 18px;}
.highlight {margin-top: 80px;padding:0 18px}
.highlight .inner {display:flex;flex-direction: column;gap: 18px;}

.hot {margin-top: 80px;padding:0 18px}
.hot .inner {display:flex;flex-direction: column;gap: 18px;}

.more {padding:0 36px;margin-top: 24px;}
.gnb {position:fixed;bottom:0;max-width: 390px;width:100%;left:50%;transform: translateX(-50%);}